@import url(sanitize.css);
body {
    background-color: #fafafa;
}
h1 {
    font-size: 24px;
    margin: 0;
}
div.content {
    background-color: #fff;
    /* 色はmdn web docsで検索すると良いかも */
    /* rgb(0,0,255);のように光の三原色を使って指定する方法もある */
    /* #000000;って感じでも色の指定ができる */
    width: 600px;
    margin: 10px auto;
    /* margin: 10px 20px 20px 10px 上右左下;
    margin: 10px 20px 上下　左右;というような指定もできる */
    border: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d1d1;
    padding: 30px;
    /* 余白について
    要素の内側がpadding 外側がmargin */
}
input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 16px;
    /* font-size: 16px以上にするのは決まり文句
    iPhoneで表示したときに画面が拡大してしまう不具合があるらしい */
    padding: 8px;
    width: 100%;
}
button {
    width: 100%;
    background-color: #2096f3;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 3px; 
    /* border-radius: ;は角の丸みの設定をするもの数値が高いほどまん丸 */
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    /* box-shadow: 0(縦) 0(横) 8(ぼけ具合) rgba(0(r赤),0(g緑), 0(b青),　.4(ぼけの透明度)); */
}
label {
    display: block;
    margin-bottom: .5em;
    /* emというのは文字に対しての比率。margin 0.5だと文字の半分の余白を作るということ */
}
/* ここのspan.requiredは.requiredと省略できる。
　　前述のdiv.contentも同じく.contentで良い */
span.required {
    background-color: #fee;
    color: #f33;
    padding: 3px;
    font-size: .8em;
    font-weight: bold;
    /* font-weight は文字の強調 */
    margin-left: .3em;
}